
#navigation  {
    color: #444;
  }
  .container
  {
  
     padding: 0;
  }
  
  #city-input{
     width: 180px;
     padding-left: 10px;;
  }
  
  #submit-city
  {
     width: 80px;
     height: 35px;
     margin-left: 1%;
     background:rgb(16, 211, 211);
     font-size: 14px;
     font-weight: 600;
     border: 0px;
     border-radius: 10px;
     opacity:80%
     
   }
   .modalJ{
      width: 120px;
      height: 35px;
      margin-left: 1%;
      background:rgb(16, 211, 211);
      font-size: 10px;
      border-radius: 10px;
      opacity:80%
   }
  
  header
  {
     text-align: center;
     color: rgb(16, 211, 211);
     background:whitesmoke;
     font-size: 20px;
     font-weight: 500;
     line-height: 20px;
     padding: 5% 10%;
     margin-bottom: 0;
     
  }
  .no-show{
      display:none;
  }
  
  
  #city-form{
      margin:10px 10px; 
  }
  
  .iOne{
      padding:30px 1%;
  }
  .AISN{
      padding-left: 7%;
  }
  /* .prognosis{
      margin-right:1%;
      font-size: 10px;
      max-width: 110px;
      line-height: 1.0;
      background:rgb(16, 211, 211);
      border-radius: 10px;
      opacity: 70%;
      padding-bottom: 10px;
  } */
  /* .prognosis p{
      text-align: center;
     margin: 0;
     /* font-size: 14px; */
  } */
  /* .prognosis img{
      max-height: 45px;
      max-width: 50px;
      margin: 0;
     /* font-size: 14px; */
  } */
  .trail-card{
      width: 100%;
      font-size: small;
      
  }
  .switchHolder{
      margin-left: 10px;
      color:rgb(16, 211, 211);
      font-weight: 700;
      opacity: 80%;
  }
  .card{
      margin: 0;
  }
  .fd-forecast{
      text-align: center;
      font-size: 16px;
      color:rgb(16, 211, 211);
      font-weight: 700;
  
  }
  @media (min-width: 576px)
  {
      header
     {
         padding: 1%;
      }
  }
  .navJ  {
      color: #444;
    }
    .pererences{
      font-size: 16px;
      color:rgb(16, 211, 211);
      font-weight: 700;
    }
    /* .cardJ-image{
        display:flex;
        float:left;
    } */
    .cardJ{
        display:flex;
        

    }